<div class="nav bg">
    <div class="ui grid">
        <div class="four wide column"></div>

        <div class="eight wide column">
            <b href="/posts"><h1><%= blog.title %></h1></b>
            <p><%= blog.description %></p>
        </div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </div>
</div>
